@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./assets/fonts/BeVietnamPro-Bold.woff2') format('woff2'),
      url('./assets/fonts/BeVietnamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./assets/fonts/BeVietnamPro-Light.woff2') format('woff2'),
      url('./assets/fonts/BeVietnamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./assets/fonts/BeVietnamPro-Regular.woff2') format('woff2'),
      url('./assets/fonts/BeVietnamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brittany';
  src: url('./assets/fonts/iCielBrittanySignature-Regular.woff2') format('woff2'),
      url('./assets/fonts/iCielBrittanySignature-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prata';
  src: url('./assets/fonts/Prata-Regular.woff2') format('woff2'),
      url('./assets/fonts/Prata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Bold.woff2') format('woff2'),
      url('./assets/fonts/Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
